body {
    display:flexbox;
    flex-direction: column;
    font-family: Arial, sans-serif;
    text-align: center;
}
img {
    max-width: 100vw;
    align-content: center;
}

#gameDiv {
    margin-top: 50px;
}

#throwResults p {
    margin: 5px;
}

#roundSummary {
    margin-top: 20px;
    font-weight: bold;
}

#scoreBoard {
    margin-top: 20px;
    border-top: 2px solid #ccc;
    padding-top: 10px;
}